{% extends "../../layouts/app.twig" %}

{% block content %}
	<div class="dashboard">
		<div class="dashboard__inner container">
			<h1 class="dashboard__title">Рабочий стол руководителя</h1>
			<div class="dashboard__contain">

			</div>
		</div>
	</div>
{% endblock %}
