{% extends "../../layouts/app.twig" %}

{% block content %}
	<div class="dashboard">
		<div class="dashboard__inner container">
			<h1 class="dashboard__title">Рабочий стол руководителя</h1>
			<div class="dashboard__tabs">
				<div class="dashboard__tab-list">
					<span class="dashboard__tabs-item dashboard__tabs-item--active">Dashboard</span>
					<span class="dashboard__tabs-item">Team line up</span>
				</div>
			</div>
			<div class="dashboard__contain">
				<div id="schedule">

				</div>
			</div>
		</div>
	</div>
{% endblock %}
